@import "../util/index";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Press Start 2P', monospace;
}

body{
    display: flex;
    flex-direction: column;
	overflow: hidden;
	background: $primaryColor;
}

/* ANIMATE THE CLOUDS IN THE LAYOUT */
@keyframes animateCloud{
    0% {left: -30%;}
    100% {left: 125%}
}
