// MOBILE //
$mobileMin: 368px;
$mobileMax: 480px;
// TABLET //
$tabletMin: 481px;
$tabletMax: 768px;
// LABTOP //
$laptopMin: 769px;
$laptopMax: 1024px;
// DESKTOP //
$desktopMin: 1025px;
$desktopMax: 1200px;
// RETINA //
$fourk: 1501px;